---
BasedOnStyle: Microsoft
AlignAfterOpenBracket: Align
AlignConsecutiveMacros: 'true'
AlignConsecutiveAssignments: 'true'
AlignEscapedNewlines: Right
AlignOperands: 'true'
AlignTrailingComments: 'true'
AllowAllArgumentsOnNextLine: 'true'
AllowShortFunctionsOnASingleLine: InlineOnly
ColumnLimit: '80'
IndentWidth: '2'
PointerAlignment: Right
UseTab: Never

...
